//- - const baseUrl = self.htmlWebpackPlugin.options.baseUrl
//- - const token = self.htmlWebpackPlugin.options.token
- url = 'https://dev.golazzos.com/?token_key=mJ6psqPVh52WkuUwiTKoGwtt'
//- - url = 'http://localhost:3000/?token_key=03xi9j76hxew6UG7to01tgtt'
//- - url = 'http://localhost:3000'
//- - getHeightDevice = window.innerHeight
- getHeightDevice = 793

doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Iframe responsive
  body
    header
      h2 Title from organization 
        span!= url
        span!= getHeightDevice
      a.link(
        href!= url
        target='_blank'
        )!= url

    #iframeContainer.iframe-container
      iframe(
        src!= url
        frameborder='0'
        width='100%'
        height!= getHeightDevice
        )
